[submodule "cookbooks/apt"]
	path = cookbooks/apt
	url = https://github.com/opscode-cookbooks/apt
[submodule "cookbooks/ark"]
	path = cookbooks/ark
	url = https://github.com/bryanwb/chef-ark
[submodule "cookbooks/build-essential"]
	path = cookbooks/build-essential
	url = https://github.com/opscode-cookbooks/build-essential
[submodule "cookbooks/chef_gem"]
	path = cookbooks/chef_gem
	url = https://github.com/hw-cookbooks/chef_gem
[submodule "cookbooks/java"]
	path = cookbooks/java
	url = https://github.com/opscode-cookbooks/java
[submodule "cookbooks/mongodb"]
	path = cookbooks/mongodb
	url = https://github.com/edelight/chef-mongodb
[submodule "cookbooks/mysql"]
	path = cookbooks/mysql
	url = https://github.com/opscode-cookbooks/mysql
[submodule "cookbooks/nodejs"]
	path = cookbooks/nodejs
	url = https://github.com/mdxp/nodejs-cookbook
[submodule "cookbooks/openssl"]
	path = cookbooks/openssl
	url = https://github.com/opscode-cookbooks/openssl
[submodule "cookbooks/phantomjs"]
	path = cookbooks/phantomjs
	url = https://github.com/customink-webops/phantomjs
[submodule "cookbooks/redisio"]
	path = cookbooks/redisio
	url = https://github.com/brianbianco/redisio
[submodule "cookbooks/ruby_build"]
	path = cookbooks/ruby_build
	url = https://github.com/fnichol/chef-ruby_build
[submodule "cookbooks/rvm"]
	path = cookbooks/rvm
	url = https://github.com/fnichol/chef-rvm
[submodule "cookbooks/sudo"]
	path = cookbooks/sudo
	url = https://github.com/opscode-cookbooks/sudo
[submodule "cookbooks/ulimit"]
	path = cookbooks/ulimit
	url = https://github.com/bmhatfield/chef-ulimit
